* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

/* Header */

header {
  background-color: #BA55D3;
  color: antiquewhite;
  padding: 15px;
  text-align: center;
  border-bottom: 3px solid black;
}

/* Grid dos Produtos */

.container {
  background-color: #eee;
  min-height: 80vh;
  padding: 50px;
}

.product-container {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  display: inline-block;
  width: 31%; 
  margin: 1% 1%;
  padding: 15px;
}

.product-img {
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
}

#img-1 {
  background-image: url("../img/gamecubepng.png");
}

#img-2 {
  background-image: url("../img/ps1.jpeg");
}

#img-3 {
  background-image: url("../img/snes.jpeg");
}

#img-4 {
  background-image: url("../img/atari.jpeg");
}

#img-5 {
  background-image: url("../img/dreamcast.jpg");
}

#img-6 {
  background-image: url("../img/gameboy.jpeg");
}

h3 {
  margin-bottom: 10px;
  color: black;
  border-left: 5px solid violet;
  font-size: 24px;
}

.card p {
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}

.btn {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #894e98;
  padding: 15px;
  border-radius: 5px;
}

/* Footer */

footer {
  background-color: #BA55D3;
  color: #fff;
  border-top: 3px solid black;
  padding: 60px;
  text-align: center;
  font-size: 24px;
}