* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.content {
    display: flex;
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    align-items: center;
    margin: 0 auto;
    padding-left: 50px;
}

h1 {
    font-size: 34px;
}